<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Administrate</title>

    <link href="webjars/bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet" />
    <link href="css/application.css" rel="stylesheet" />
  </head>
  <body>
    <div id="header" ng-controller="InfoController" class="col-xs-12">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">twicf <span class="glyphicon glyphicon-music"></span></a>
            <ul class="navbar-nav">
              <!--<li></li>-->
            </ul>
          </div>

          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="glyphicon glyphicon-info-sign icon-white"></span>
              </a>
              <ul class="dropdown-menu">
                <li><a><strong>Profiles:</strong> {{info.profiles.join()}}</a></li>
                <li><a><strong>Services:</strong> {{info.services.join()}}</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </nav>
    </div>
	<div class="container">
		<div class="jumbotron">
			<h1>Hello, Cloud Foundry Admin!</h1>
			<p>Do you want to retrieve a list of subscribers?</p>
            <form method="post" th:action="@{''}" class="form-inline" role="form">
				<div class="input-group full-width">
					<span class="input-group-btn">
						<button type="submit" id="subscriberList" class="btn btn-primary">Show me the CF subscribers</button>
					</span>
				</div>
			</form>
		</div>
	</div>

    <script src="webjars/jquery/1.11.1/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.0/js/bootstrap.js"></script>
  </body>
</html>
