<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Administrate</title>

    <link href="webjars/bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet" />
    <script src="webjars/bootstrap/3.3.0/js/bootstrap.js" type="text/javascript"></script>
    <!--We use thymeleaf to apply the css and an explicit link to the application css when we
    are not running in a server. else just linking to css/application.css will only render in a server and not in a
    statci env-->
    <!--It's important to keep your app after bootstrap as bootstrap may otherwise overide your css-->
    <link th:href="@{css/application.css}" href="../static/css/application.css" rel="stylesheet" />
  </head>
  <body>

  <div th:include="header :: header"></div>

	<div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="text-center">
              <img th:src="@{cloud-foundry-logo.png}" src="../static/cloud-foundry-logo.png"/>
            </div>
          </div>
        </div>

		<div class="jumbotron">
			<h1>Hello, Cloud Foundry Admin!</h1>
			<p>Do you want to retrieve a list of subscribers?</p>
            <form method="post" th:action="@{''}" class="form-inline" role="form">
				<div class="input-group full-width">
					<span class="input-group-btn">
						<button type="submit" id="subscriberList" class="btn btn-primary">Show me the CF subscribers</button>
					</span>
				</div>
			</form>
		</div>
	</div>

    <script src="webjars/jquery/1.11.1/jquery.js"></script>
    <script src="webjars/bootstrap/3.3.0/js/bootstrap.js"></script>
  </body>
</html>
