<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Unsubscribed-no-email</title>

    <link href="webjars/bootstrap/3.3.0/css/bootstrap.css" rel="stylesheet" />
    <link href="css/application.css" rel="stylesheet" />
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1 id="message">Sorry to see you go!</h1>
        <body id="message">We've unsubscribed you but we weren't able to notify you via email at this time.</body>
    </div>
</div>

<script src="webjars/jquery/1.11.1/jquery.js"></script>
<script src="webjars/bootstrap/3.3.0/js/bootstrap.js"></script>
</body>
</html>